<header>
  <div class="header">
    <img class="header__logo" src="assets/angular-logo.svg" data-test="logo" alt="angular logo"/>
    <input class="header__search" (mouseover)="changeBorderColor($event)" data-test="search">
    <nav class="header__links" data-test="menu">
      <a href="">Become a host</a>
      <a href="">Help</a>
      <a href="">Sign up</a>
      <a href="">Login</a>
    </nav>
  </div>
  <nav class="header__menu" data-test="filter">
    <button>Home type</button>
    <button>Dates</button>
    <button>GUESTS</button>
    <button>Price</button>
    <button>Rooms</button>
    <button>Amenities</button>
  </nav>
</header>

