.dialog {
  top: 50%;
  bottom: 50%;
  z-index: 10;
  padding: 16px 26px;

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
      font-style: normal;

  }
  &__overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    backdrop-filter: blur(10px);
  }

  &__range {
    display: flex;
    flex-direction: column;
  }
}

